<div class="container">

  <div class=row>
    <div class="col-md-6" id="graph_1_column">
      <div class="graph_1_container"></div>
    </div><!--/.col-md-6-->
    <div class="col-md-6" id="graph_2_column">
      <div class="graph_2_container"></div>
    </div><!--/.col-md-6-->
  </div>

  <div class=row>
    <div class="col-md-12" id="events_table">
      <div class="events_div"></div>
    </div><!--/.col-md-12-->
  </div>


  Hello World
</div>
